# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual studio
/.vs
/EggWebs
*.pdb

# program input and output (put yours in the root folder)
filename.txt
filename2.txt
filename3.txt
filename4.txt
*.csv
target.txt
